# Logs
logs
*.log

# Environment
.env
*.local

# Swift/Xcode build artifacts
.build
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
DerivedData

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
